{% extends 'hms_admin/admin_master.html' %}
{% load static %}

{% block header %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

<link rel="stylesheet" href=" {% static 'assets/css/add_doctor.css' %}">


{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div>
                    <h2>Add Department</h2>

                    <div style="display:flex;width:100%;">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div style="width:100%;">

                                {{status}}

                                <p>Department</p>
                                <select id="select" name="dept">
                                    <option >Select Department</option>
                                    <option value="Heart Care">Heart Care</option>
                                    <option value="Women Care">Women Care</option>
                                    <option value="Child Care">Child Care</option>
                                    <option value="Neuroscience">Neuroscience</option>
                                    <option value="Liver & gastro science">Liver & gastro science</option>
                                    <option value="Orthopedics">Orthopedics</option>
                                    <option value="Renal Care">Renal Care</option>
                                    <option value="Endocrine sciences">Endocrine sciences</option>
                                    <option value="Psychiatry">Psychiatry</option>
                                    <option value="Oncology">Oncology</option>
                                    <option value="Anaesthesiology">Anaesthesiology</option>
                                    <option value="Radiology">Radiology</option>
                                    <option value="Dermatology">Dermatology</option>
                                    <option value="Blood Bank">Blood Bank</option>
                                </select>
                            </div> 
                            <div style="width:100%;">
                                <p>Description</p>
                                <textarea name="desc" id="" cols="60" rows="10"></textarea>
                            </div>
                            <div style="width:100%;">
                                <p>Upload Photo</p>
                                <input type="file" id="dept_img" name="dept_photo">
                            </div>
                            <p>
                                <button type="submit">SUBMIT</button>
                            </p>
                           
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}