{% extends 'hms_admin/admin_master.html' %}
{% load static %}

{% block header %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

<link rel="stylesheet" href=" {% static 'assets/css/add_doctor.css' %}">


{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div>
                    <h2 class="text-center mb-3">Add Doctor</h2>


                    <div style="display:flex;width:100%;">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div style="width:100%;">

                                {{status}}


                              <label>Name</label>
                                <input name="doctor_name" autofocus type="text">
                            </div>

                            <div style="width:100%;">
                                <label>Email ID</label>
                                <input name="doctor_email" type="email">
                            </div>

                            <div style="width:100%;">
                                <label>Password</label>
                                <input name="doctor_password" type="password">
                            </div>

                            <div style="width:100%;">
                                <label>Contact Number</label>
                                <input name="doctor_number" type="text">
                            </div>

                            <div style="width:100%;">
                                <label>Department</label>                            
                                <select id="select" name="doctor_dept">
                                    <option value="" selected disabled>Select Department</option>
                                    {% for dept in department %}
                                    <option value="{{dept.id}}">{{dept.department_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>                     

                            <div style="width:100%;">
                                <label>Qualification</label>
                                <input name="qualification" type="text">
                            </div>
                            <div style="width:100%;">
                                <label>Experience</label>
                                <input name="experience" type="number">
                            </div>
                            <div style="width:40%;">
                                <label>Consultancy Fee</label>
                                <input name="fees">
                            </div>
                            <div style="width:50%; padding-left: 10%;">
                                <label>Upload Photo</label>
                                <input type="file" id="doctor_img" name="doctor_photo">
                            </div>

                          
                                <button > SUBMIT </button>
                            

                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}