{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Login</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>    
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}" />
  </head>

  <body>

    <div>

      <form id="admin_login_form">
        <p>Login</p>
        <label for="email" class="label">Email</label><br />
        <input type="text" id="email" name="email" required /><br />
        <label for="password" class="label">Password</label><br />
        <input type="password" id="password" name="password" /><br />
        <label for="remember" class="remember"> Remember me </label>
        <input type="checkbox" id="remember" name="Remember" /> <br />
        <!-- <a href="{% url 'hms_admin:admin_home' %}">
          <button type="submit">Login</button>
        </a> -->
        <a class="btn btn-info login" href="{% url 'hms_admin:admin_home' %}"> Login </a> <br />
        <label class="label"> Do not have an account? </label>  <br>
        <a class="btn btn-primary-outline" href="adminsignup" id="signup">Signup here</a>
      </form>
      
      <!-- <div class="text-center">Do not have account? <a href="adminsignup">Signup here</a></div> -->

    </div>
    <!-- <script src="{% static 'assets/css/login.js' %}"></script> -->
  </body>
</html>
