{% extends 'staff/staff_home.html' %}
{% load static %}

{% block header %}

<link rel="stylesheet" href="{% static 'assets/css/patient_search.css' %}" />

<style>
  /* .section .container{
    background-color: blue;
  } */
</style>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


{% endblock %}

{% block content %}

<section class="section">
  <div class="container">
    <div class="row abc">
	    <div class="col-12">

        
      </div>      
    </div>
  </div>
</section>

{% endblock %}